body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #1abc9c;
  background: linear-gradient(135deg, #1abc9c 0%, #8e44ad 100%);
}

h1 {
  font-size: 24px;
  margin: 10px 0 0 0;
  font-weight: lighter;
  text-transform: uppercase;
  color: #eeeeee;
}

p {
  font-size: 12px;
  font-weight: light;
  color: #333333;
}

span a {
  font-size: 18px;
  color: #cccccc;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.4s ease-in-out;
}
span a:hover {
  color: #ffffff;
}

@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}
.avatar img {
  width: auto;
  height: 100%;
}

.content {
  width: 100%;
  max-width: 600px;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Audiowide", sans-serif;
}

.suppoprt-me {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 20vw;
  max-width: 250px;
  min-width: 200px;
  z-index: 9;
}
.suppoprt-me img {
  width: 100%;
  height: auto;
}


/*page loader*/
.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 100;
}

.wrapper{
  width: 100px;
  height: 100px;
  background: white;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3px;
}

.box{
  width: 50%;
  height: 50%;
  flex: 50%;
  transition: 0.5s;
  border: 2px solid white;
}

.box:nth-child(1){
  animation: load 1s infinite;
}

.box:nth-child(2){
  animation: load2 1s infinite;
  animation-delay: 0.2s;
}

.box:nth-child(3){
  animation: load3 1s infinite;
  animation-delay: 0.7s;
}

.box:nth-child(4){
  animation: load4 1s infinite;
  animation-delay: 0.5s;
}

@keyframes load {
  0% { background: rgba(231, 76, 60, 0); }
  30% { background: rgb(231, 76, 60); }

  100% { background: rgba(231, 76, 60, 0); }
}

@keyframes load2 {
  0% { background: rgba(46, 204, 113, 0); }
  30% { background: rgb(46, 204, 113); }

  100% { background: rgba(46, 204, 113, 0); }
}

@keyframes load3 {
  0% { background: rgba(230, 126, 34, 0); }
  30% { background: rgb(230, 126, 34); }

  100% { background: rgba(230, 126, 34, 0); }
}

@keyframes load4 {
  0% { background: rgba(241, 196, 15, 0); }
  30% { background: rgb(241, 196, 15); }

  100% { background: rgba(241, 196, 15, 0); }
}